<h1>You are receiving this because you (or someone else) have requested the reset of the password for your account.</h1>
<div>
    <p>Dear <%= name %></p>
    If you've lost your password or wish to reset it, use the link below to get reset your password!
    <div>
        <a href="<%= authencation_url %>">
            Reset Your Password
        </a>
    </div>
    If you did not request this, please ignore this email and your password will remain unchanged
</div>


