*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.active{
  color: #fff!important;
}
.navbar-icon{
  display: none!important;
}
.active-icon{
  display: block!important;
}
#likeBtn:hover{
  cursor: pointer;
  color: red!important;
}