body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 600px;
  min-width: 768px;
  color: #b3b3b3;
    text-transform: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  height: 100%;
  background-color: #121212;
  
}
#root{
  height: 100%;
  position: relative;
}

.listDown:hover{
  background-color: #ccc;
}